extend includes/base/head
block head
    main.wrapper.wrapper_not-front
        .wrapper__content.wrapper__content_backing
            include includes/base/header.pug
            .wrapper__middle
                include includes/base/navigation.pug
                .container-fluid
                    .breadcrumbs
                        a.breadcrumbs__link.breadcrumbs__link_home(href="home.html") Home
                        span.breadcrumbs__sep /
                        span.breadcrumbs__this Course
                        span.breadcrumbs__sep /
                        span.breadcrumbs__this Course 2
                        span.breadcrumbs__sep /
                        span.breadcrumbs__this Course 3
                    .add-lesson
                        .page__title Add lesson
                        form.add-lesson__form
                            .add-lesson__addfile_header Files for lesson
                            .add-lesson__addfile
                                .form__item.form-group.form__item_image
                                    .form__images-wrap
                                        label(for='registrationImage') + Add files

                                            input#registrationImage.form__image.form__image_register.form-control(type='file', name='registration[image]', onchange='readURL(this)')
                                .form__item.form-group
                                    label.form__label Select level
                                    select(name='Select level')
                                        option(value='level 1') level 1
                                        option(value='level 2') level 2

                            .add-lesson__file
                                .add-lesson__file_header
                                    span.add-lesson_title The first course of lectures is the second
                                    .add-lesson__file_button
                                        .add-lesson_addcolor
                                            a(href="#").button_color Color
                                            .change_color
                                                span.close
                                                span.change_color_title Change Color
                                                ul
                                                    li
                                                        a(href="#").color_1.active
                                                    li
                                                        a(href="#").color_2
                                                    li
                                                        a(href="#").color_3
                                                    li
                                                        a(href="#").color_4
                                                    li
                                                        a(href="#").color_5
                                                    li
                                                        a(href="#").color_6
                                                    li
                                                        a(href="#").color_7
                                                    li
                                                        a(href="#").color_8
                                                    li
                                                        a(href="#").color_9
                                                    li
                                                        a(href="#").color_10
                                                    li
                                                        a(href="#").color_11
                                                    li
                                                        a(href="#").color_12
                                        a.open_text_panel(href="#") Add Text


                                .add-lesson__file_audio
                                    .download__audios
                                        audio.download__audio(
                                        src="../audio/audio.mp3"
                                        )
                                    .add-lesson__file_audio_inf
                                        a(href="#").add-lesson__file_color
                                        a(href="#").add-lesson__file_remove_text
                                            img(src="../images/trash.png")

                                .add_text_hidden
                                    .panel-text
                                        img(src="../images/panel.jpg")
                                    .form__item.form-group

                                        textarea.form__textarea.form__textarea_test.form-control
                                    .form__actions
                                        input.form__submit(type='submit', value='Publish')


                            .add-lesson__file
                                .add-lesson__file_header
                                    span.add-lesson_title The first course of lectures is the second
                                    .add-lesson__file_button
                                        .add-lesson_addcolor
                                            a(href="#").button_color Color
                                            .change_color
                                                span.close
                                                span.change_color_title Change Color
                                                ul
                                                    li
                                                        a(href="#").color_1.active
                                                    li
                                                        a(href="#").color_2
                                                    li
                                                        a(href="#").color_3
                                                    li
                                                        a(href="#").color_4
                                                    li
                                                        a(href="#").color_5
                                                    li
                                                        a(href="#").color_6
                                                    li
                                                        a(href="#").color_7
                                                    li
                                                        a(href="#").color_8
                                                    li
                                                        a(href="#").color_9
                                                    li
                                                        a(href="#").color_10
                                                    li
                                                        a(href="#").color_11
                                                    li
                                                        a(href="#").color_12
                                        a.open_text_panel(href="#") Add Text

                                .add-lesson__file_all
                                    .file_name .rar
                                    .add-lesson__file_audio_inf
                                        a(href="#").add-lesson__file_color
                                        a(href="#").add-lesson__file_remove_text
                                            img(src="../images/trash.png")

                                .add_text_hidden


                            .add-lesson__file.video
                                .add-lesson__file_header
                                    span.add-lesson_title The first course of lectures is the second
                                    .add-lesson__file_button

                                        a(href="#").open_text_panel Add Text


                                .add-lesson__file_audio
                                    .download__videos
                                        video.download__vid(
                                        src="../video/video.mp4"
                                        )
                                        a(href="#").open_full
                                            img(src="../images/fullscreen.png")

                                    .add-lesson__file_audio_inf

                                        a(href="#").add-lesson__file_remove_text
                                            img(src="../images/trash.png")

                                .add_text_hidden

                            .add-lesson__file
                                .add-lesson__file_header
                                    span.add-lesson_title The first course of lectures is the second
                                    .add-lesson__file_button
                                        .add-lesson_addcolor
                                            a(href="#").button_color Color
                                            .change_color
                                                span.close
                                                span.change_color_title Change Color
                                                ul
                                                    li
                                                        a(href="#").color_1.active
                                                    li
                                                        a(href="#").color_2
                                                    li
                                                        a(href="#").color_3
                                                    li
                                                        a(href="#").color_4
                                                    li
                                                        a(href="#").color_5
                                                    li
                                                        a(href="#").color_6
                                                    li
                                                        a(href="#").color_7
                                                    li
                                                        a(href="#").color_8
                                                    li
                                                        a(href="#").color_9
                                                    li
                                                        a(href="#").color_10
                                                    li
                                                        a(href="#").color_11
                                                    li
                                                        a(href="#").color_12
                                        a.open_text_panel(href="#") Add Text

                                .add-lesson__file_all
                                    .file_name .doc
                                    .add-lesson__file_audio_inf
                                        a(href="#").add-lesson__file_color
                                        a(href="#").add-lesson__file_remove_text
                                            img(src="../images/trash.png")

                                .add_text_hidden

                            .add-lesson__file
                                .add-lesson__file_header
                                    span.add-lesson_title The first course of lectures is the second
                                    .add-lesson__file_button
                                        .add-lesson_addcolor
                                            a(href="#").button_color Color
                                            .change_color
                                                span.close
                                                span.change_color_title Change Color
                                                ul
                                                    li
                                                        a(href="#").color_1.active
                                                    li
                                                        a(href="#").color_2
                                                    li
                                                        a(href="#").color_3
                                                    li
                                                        a(href="#").color_4
                                                    li
                                                        a(href="#").color_5
                                                    li
                                                        a(href="#").color_6
                                                    li
                                                        a(href="#").color_7
                                                    li
                                                        a(href="#").color_8
                                                    li
                                                        a(href="#").color_9
                                                    li
                                                        a(href="#").color_10
                                                    li
                                                        a(href="#").color_11
                                                    li
                                                        a(href="#").color_12
                                        a(href="#").open_text_panel Add Text

                                .add-lesson__file_all
                                    .file_name .other files
                                    .add-lesson__file_audio_inf
                                        a(href="#").add-lesson__file_color
                                        a(href="#").add-lesson__file_remove_text
                                            img(src="../images/trash.png")

                                .add_text_hidden


                            .form__actions.add-test_butt
                                input.form__submit.grey(type='submit', value='Publish')



                        .add_test-test
                            .add_test-test_title test 1
                            .row
                                 .col-md-6
                                     form.add-test__text
                                         .add-test__text_title
                                             span Your question

                                         .form__item.form-group

                                             textarea.form__textarea.form__textarea_test.form-control.
                                                 Pellentesque lobortis risus vel laoreet lacinia. Morbi vitae luctus elit, non iaculis augue.  Aenean eget venenatis mi, sit amet tristique justo. Morbi facilisis leo a dictum tincidunt. Vestibulum?

                                         .form__actions
                                             input.form__submit.grey(type='submit', value='Publish')

                                     form.add-test__text
                                         .add-test__text_title
                                             span Your question
                                             a(href="#") Add  more +
                                         .form__item.form-group

                                             textarea.form__textarea.form__textarea_test.form-control.
                                                 Pellentesque lobortis risus vel laoreet lacinia. Morbi vitae luctus elit, non iaculis augue.  Aenean eget venenatis mi, sit amet tristique justo. Morbi facilisis leo a dictum tincidunt. Vestibulum?

                                         .form__actions
                                             input.form__submit.grey(type='submit', value='Publish')


                                     form.add-test__text
                                         .add-test__text_title
                                             span Your question
                                             a(href="#") Remove
                                         .form__item.form-group
                                             textarea.form__textarea.form__textarea_test.form-control(placeholder="Write were")
                                         .form__actions
                                             input.form__submit.grey(type='submit', value='Publish')


                                     form.add-test__text
                                         .add-test__text_title
                                             span Your question
                                             a(href="#") Remove
                                         .form__item.form-group

                                             textarea.form__textarea.form__textarea_test.form-control(placeholder="Write were")
                                         .form__actions
                                             input.form__submit.grey(type='submit', value='Publish')


                                 .col-md-6
                                     form.add-test__check
                                         .add-test__check_title Your question and answers to test
                                         .test__content
                                             .test__title It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as oppos ed to using 'Content here, content here', making it look like readable English.
                                                 .test__buttons
                                                     - var count = 4;
                                                     -for (var i = 1; i <= count; i++){
                                                     .form__radios
                                                         input.form__radio(
                                                         type="radio"
                                                         name="answer"
                                                         id="answer_" + i
                                                         checked
                                                         )
                                                         label(
                                                         for="answer_" + i
                                                         ) Answer
                                                     - }
                                         .form__actions
                                             input.form__submit(type='submit', value='Publish')

                                     form.add-test__check
                                         .add-test__check_title Your question and answers to test
                                         .test__content
                                             .test__title It is a long established fact that a reader will be distracted .
                                                 .test__buttons
                                                     - var count = 4;
                                                     -for (var i = 1; i <= count; i++){
                                                     .form__radios
                                                         input.form__radio(
                                                         type="radio"
                                                         name="answer"
                                                         id="answer_" + i
                                                         checked
                                                         )
                                                         label(
                                                         for="answer_" + i
                                                         ) Answer
                                                     - }
                                         .form__actions
                                             input.form__submit(type='submit', value='Publish')



        include includes/base/footer.pug